/* Carousel Container */
.carousel-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 0 0 auto;
}

/* Carousel Slide */
.carousel-child {
  position: relative;
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
  display: none;
}

.active {
  display: block;
}

/* Image Slides */
.hunter-image {
  flex: 0 0 auto;
  background: url('../images/KevinHunter.jpg');
  background-size: cover;
  width: 400px;
  height: 400px;
}

.snow-mountains-image {
  flex: 0 0 auto;
  background: url('../images/SnowMountains.jpg');
  background-size: cover;
  width: 400px;
  height: 400px;
}

.cics-image {
  flex: 0 0 auto;
  background: url('../images/cics.jpg');
  background-size: cover;
  width: 400px;
  height: 400px;
}

.peak-image {
  flex: 0 0 auto;
  background: url('../images/MountEvansSecondPeak.jpg');
  background-size: cover;
  width: 600px;
  height: 400px;
}

.sandwich-image {
  flex: 0 0 auto;
  background: url('../images/MountEvansSandwich.jpg');
  background-size: cover;
  width: 600px;
  height: 400px;
}

.mountains-image {
  flex: 0 0 auto;
  background: url('../images/MountainsOne.jpeg');
  background-size: cover;
  width: 600px;
  height: 400px;
}

.nashville-kk-image {
  flex: 0 0 auto;
  background: url('../images/NashvilleKK.jpg');
  background-size: cover;
  width: 400px;
  height: 400px;
}

.kevin-ian-image {
  flex: 0 0 auto;
  background: url('../images/KevinAndIan.jpg');
  background-size: cover;
  width: 400px;
  height: 400px;
}

.boston-walking-image {
  flex: 0 0 auto;
  background: url('../images/BostonWalking.jpg');
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* Carousel Controls */
.carousel-controls {
  z-index: 1;
}

.carousel-controls-indicators {
  position: absolute;
  padding-bottom: 5px;
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.carousel-controls-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex: 0 0 auto;
  background-color: #FFFFFF99;
}

.active-dot {
  background-color: #0078D4;
}

.arrow {
  position: absolute;
  padding: 0px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; 
}

.arrow-button {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  background-color: #FFFFFF99;
  padding: 6px;
}

.arrow-button:hover {
  background-color: #FFFFFFBF;
  cursor: pointer;
}